@model ProjectBugTracker.Models.UserViewModel
@using ProjectBugTracker.Models

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Dashboard: @Html.DisplayFor(modelItem => modelItem.DisplayName) | <i class="fa fa-exclamation-triangle"></i> @Model.TicketNotifications.Count</h2> <h3 style="text-align:right">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</h3>
        </div>
    </div>
    <!--Admin Dashboard-->
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {

        <section id="hero">
            <!--Start Sliders -->
            <div id="header-slider" class="carousel slide" data-ride="carousel">
                <!-- Hero Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <!-- First Slider -->
                        <div class="row">
                            <div class="col-md-6" >
                                <h2 style="text-align:center">Profile</h2>
                                <p>@Html.ActionLink("Welcome: " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
                                <p>Name: @Html.DisplayFor(modelItem => modelItem.FirstName) @Html.DisplayFor(modelItem => modelItem.LastName)|Email: @Html.DisplayFor(modelItem => modelItem.Email)</p>
                            </div>
                            <div class="col-md-6" style="padding-left:10px;padding-right:50px">
                                <h2 style="text-align:center">Notifications</h2>
                                <button class="btn btn-default">@Html.ActionLink("Roles Manager", "Index", "RolesManager")</button>
                                <table id="Anotitable" class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Property
                                            </th>
                                            <th>
                                                Update
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.TicketNotifications)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tickets.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Property)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NewValue)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Mark as Seen", "MarkNotificationSeen", "Tickets", new { id = item.Id }, null) |
                                                    @Html.ActionLink("View", "Details", "Tickets", new { id = item.TicketId }, null)
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- End First Slider -->
                        <div class="item">
                            <!-- Second Slider -->
                                <div class="row">
                                    <h2 style="text-align:center">Projects</h2>
                                <div class="col-md-6">
                                    <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Projects")</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-default">@Html.ActionLink("Project Manager", "Index", "ProjectManager")</button>
                                </div>
                    </div>
                    </div><!-- End Second Slider -->
                        <div class="item">
                            <!-- Third Slider -->
                                <h2 style="text-align:center">Tickets</h2>
                                <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Tickets")</button>
                        </div> <!-- End Fourth Slider -->
                    </div> <!-- End Hero Wrapper for slides -->
                </div> <!-- End Sliders -->
                <div class="controls">
                    <a href="~/#header-slider" role="button" data-slide="prev"><span class="fa fa-arrow-circle-left"></span></a> <!-- Prev Control -->
                    <a href="~/#header-slider" role="button" data-slide="next"><span class="fa fa-arrow-circle-right"></span></a> <!-- Next Control -->
                </div>
        </section><!-- End Hero Slider -->

    <!--ProjMan Dashboard-->
    }
    else if (User.IsInRole("ProjectManager"))
    {
        <div class="row">
            <div class="row">
                <div class="col-md-4" style="background-color:aliceblue">
                    <h2 style="text-align:center">Profile</h2>
                    <p>@Html.ActionLink("Welcome: " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
                    <p>Name: @Html.DisplayFor(modelItem => modelItem.FirstName) @Html.DisplayFor(modelItem => modelItem.LastName)|Email:@Html.DisplayFor(modelItem => modelItem.Email)</p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h2 style="text-align:center">Projects</h2>
                        <table class="table">
                            <tr>
                                <th>
                                    Assigned Project
                                </th>

                            </tr>

                            @foreach (var item in Model.UserProjects)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                </tr>
                            }

                        </table>
                        <div class="col-md-6">
                            <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Projects")</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default">@Html.ActionLink("Project Manager", "Index", "ProjectManager")</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2 style="text-align:center">Users</h2>
                <button class="btn btn-default"></button>
            </div>
            <div class="col-md-8" style="background-color:aliceblue">
                <h2 style="text-align:center">Tickets</h2>
                <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Tickets")</button>
            </div>
        </div>
    <!--Dev Dashboard-->
    }
    else if (User.IsInRole("Developer"))
    {

        <div class="row">
            <div class="col-md-4">
                <h2 style="text-align:center">Profile</h2>
                <p>@Html.ActionLink("Welcome: " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
                <p>Name: @Html.DisplayFor(modelItem => modelItem.FirstName) @Html.DisplayFor(modelItem => modelItem.LastName)|Email:@Html.DisplayFor(modelItem => modelItem.Email)</p>
            </div>
            <div class="col-md-8">
                <h2 style="text-align:center">Projects</h2>
                <div class="row">
                    <div class="col-md-12">
                        <table id="projtable" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Assigned Project
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UserProjects)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Projects")</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default"></button>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2 style="text-align:center">Notifications/Updates</h2>
                <table id="notitable" class="table">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Property
                            </th>
                            <th>
                                Update
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TicketNotifications)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tickets.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Property)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NewValue)
                                </td>
                                <td>
                                    @Html.ActionLink("Mark as Seen", "MarkNotificationSeen", "Tickets", new { id = item.Id }, null) |
                                    @Html.ActionLink("View", "Details", "Tickets", new { id = item.TicketId }, null)
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <button class="btn btn-default">@Html.ActionLink("View More", "Index", "TicketHistories")</button>
            </div>
            <div class="col-md-8">
                <h2 style="text-align:center">Tickets</h2>
                <table id="tictable" class="table">
                    <thead>
                        <tr>
                            <th>
                                Assigned Ticket
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Status
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TicketsAssigned)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Projects.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPrioritys.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatuses.Name)
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>

                <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Tickets")</button>
            </div>
        </div>
    <!--Sub Dashboard-->
    }
    else if (User.IsInRole("Submitter"))
    {

        <div class="row">
            <div class="col-md-4" style="background-color:aliceblue">
                <h2 style="text-align:center">Profile</h2>
                <p>@Html.ActionLink("Welcome: " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
                <p>Name: @Html.DisplayFor(modelItem => modelItem.FirstName) @Html.DisplayFor(modelItem => modelItem.LastName)|Email:@Html.DisplayFor(modelItem => modelItem.Email)</p>
            </div>
            <div class="col-md-8" style="background-color:aliceblue">
                <h2 style="text-align:center">Projects</h2>
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <button class="btn btn-default"></button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default"></button>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2 style="text-align:center">Users</h2>
                <button class="btn btn-default"></button>
            </div>
            <div class="col-md-8" style="background-color:aliceblue">
                <h2 style="text-align:center">Tickets</h2>
                <table id="subtictable" class="table">
                    <thead>
                        <tr>
                            <th>
                                Submitted Ticket
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Priority
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TicketsOwned)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Projects.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPrioritys.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatuses.Name)
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

                <button class="btn btn-default">@Html.ActionLink("View All", "Index", "Tickets")</button>
            </div>
        </div>
    }
</div>
<script>
    $('#tictable').DataTable();
    $('#projtable').DataTable();
    $('#subtictable').DataTable();
    $('#Anotitable').DataTable();
    $('#notitable').DataTable();
</script>
